*{
    padding: 0;
    margin: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
.header{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a{
    padding: 0px 15px;
    color: #282A30;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Nunito Sans;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 22.8px */
letter-spacing: 1px;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phhtos{
    padding: 20px 50px;
    margin-top: 100px;
}
.header-right a{
    padding: 10px 20px;
    margin-top: -250px;
    margin-left: 50px;
    color: rgb(230, 69, 101);
}
.header-nav h1{
    padding: 10px 20px;
    margin-left: 70px;
    color: #282A30;
font-family: Montserrat;
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.header-nav button{
    margin-top: 20px;
    border: none;
    padding: 15px 55px;
    background: #F7515C;
    color: #FFF;
font-family: Montserrat;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.header-nav a{
    color: #282A30;
font-family: Montserrat;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.about{
    padding: 70px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.abouts h3{
    padding: 15px;
    color: #282A30;
font-family: Montserrat;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.abouts h1{
    padding: 15px;
    font-family: Montserrat;
font-size: 100px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.abouts p{
    padding: 20px ;
    color: rgba(40, 42, 48, 0.50);
font-family: Nunito;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.abouts button{
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    padding: 20px 55px;
    background: #F7515C;
    color: #FFF;
font-family: Montserrat;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
}